@using ProjectCV.DAL.DTOs.UserProfileDto
@model UserProfileUpdateDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CV Maker Panel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">User Profile</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Update" asp-controller="UserProfile" method="post" enctype="multipart/form-data">
            @* user profile section *@
            <input type="hidden" />
            <div class="card-body">

                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label asp-for="Name" >Name</label>
                    <input type="text" name="Name" class="form-control"  placeholder="Type your name">
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input type="text" asp-for="Surname"  class="form-control" placeholder="Type your name">
                </div>
                    @for (int i=0; i< Model.SocialMedias.Count;i++)
                    {
                    <div class="form-group">
                        <label>Social Media</label>
                        <input asp-for="SocialMedias[i].Name" value=" @Model.SocialMedias[i].Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Social Media</label>
                        <input asp-for="SocialMedias[i].Url" value="@Model.SocialMedias[i].Url" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Social Media</label>
                        <input asp-for="SocialMedias[i].Icon" value="@Model.SocialMedias[i].Icon" class="form-control">
                    </div>
                    }
              
                <div class="form-group">
                    <label for="exampleInputFile">Profile Image</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="profileFile" id="exampleInputFile">
                            <label class="custom-file-label" >Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Background Image</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="backgroundFile" >
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<!-- /.content -->