@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <a href="/UserProfile/Update/2"  class="btn btn-block btn-info"><i class="bi bi-plus"></i>Update User Profile</a>
    <a href="/Skill/Create" class="btn btn-block btn-warning"> <i class="bi bi-plus"></i> Add a New Skill</a>
    <a href="/Education/Create" class="btn btn-block btn-success"><i class="bi bi-plus"></i>Add a New Education</a>
    <a href="/Certificate/Create" class="btn btn-block btn-secondary"><i class="bi bi-plus"></i>Add a New Certificate</a>
    <a href="/Experience/Create" class="btn btn-block btn-danger"><i class="bi bi-plus"></i>Add a New Experience</a>
    

    <!-- /.content -->
</div>

