@using ProjectCV.DAL.DTOs.SkillDTO
@model SkillCreateDTO


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CV Maker Panel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Skills Create</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Create" asp-controller="Skill" method="post">

            @* Skill update *@
            <input type="hidden" />
            <div class="card-body">
                
                    <div class="form-group">
                        <input type="hidden" />
                        <label> <span style="font-weight:bold;color:orangered"> Skill </span>  </label>
                        <input name="Name" type="text" value="@Model?.Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label> <span style="font-weight:bold;color:gold">Rating</span></label>
                        <input name="Rating" type="number" value="@Model?.Rating" class="form-control">
                    </div>
                

            </div>


            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>