@model UserProfile
<section id="hero" class="hero section dark-background">

    <img src="~/assets/img/@Model.BackgroundImage" alt="" data-aos="fade-in" class="">

    <div class="container" style="margin-top:15Rem;" data-aos="fade-up" data-aos-delay="100">
        <h2>@Model.Name @Model.Surname</h2>
        <p>I'm <span class="typed" data-typed-items="Web Devoloper, Software Engineer"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

</section>